@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'monserrat';
  src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'monserrat-bold';
  src: url('/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'monserrat-black';
  src: url('/fonts/Montserrat-Black.ttf');
}
@font-face {
  font-family: 'poppins';
  src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'poppins-extrabold';
  src: url('/fonts/Poppins-ExtraBold.ttf');
}

*{
  scroll-behavior: smooth;
}

.CShadow{
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.CShadow2{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.CShadow3{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



/*text shadow*/
.CTextShadow{
  text-shadow: -2px 1px 4px rgba(88,77,77,0.6);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.slick-slider-custom > button {
  border-radius: 50%;
  background-color: #005aa9 !important;
  padding-top: 3px;
  width: 30px;
  height: 30px;
}
.slick-slider-custom > button:hover {
  background-color: #005aa9 !important;
}
